zak.json
{
    "name": "Enhanced Integrated Automation Workflow",
    "nodes": [
      {
        "id": "1",
        "name": "GoHighLevel Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [200, 300],
        "parameters": {
          "path": "gohighlevel-follow-up",
          "method": "POST",
          "responseMode": "onReceived",
          "responseData": "firstEntryJson"
        }
      },
      {
        "id": "2",
        "name": "Parse GoHighLevel Data",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [400, 300],
        "parameters": {
          "functionCode": "// Ensure we have valid data\nif (!items || !items.length || !items[0].json) {\n  return [{json: {error: 'Invalid input data'}}];\n}\n\nconst lead = items[0].json;\n\n// Input validation\nconst name = lead.name || 'Unknown';\nconst phone = lead.phone || '';\nconst email = lead.email || '';\nconst source = lead.source || 'GoHighLevel';\nconst timestamp = new Date().toISOString();\n\nreturn [{ \n  json: { \n    name, \n    phone, \n    email, \n    source,\n    timestamp,\n    leadId: `ghl-${Date.now()}-${Math.floor(Math.random() * 1000)}`\n  } \n}];"
        }
      },
      {
        "id": "3",
        "name": "Format Lead Data",
        "type": "n8n-nodes-base.set",
        "typeVersion": 1,
        "position": [600, 300],
        "parameters": {
          "keepOnlySet": true,
          "values": {
            "string": [
              {
                "name": "formattedName",
                "value": "={{ $json[\"name\"].trim().split(' ')[0] }}"
              },
              {
                "name": "formattedPhone",
                "value": "={{ $json[\"phone\"].replace(/[^0-9]/g, '') }}"
              },
              {
                "name": "leadId",
                "value": "={{ $json[\"leadId\"] }}"
              },
              {
                "name": "source",
                "value": "={{ $json[\"source\"] }}"
              },
              {
                "name": "email",
                "value": "={{ $json[\"email\"].toLowerCase() }}"
              },
              {
                "name": "timestamp",
                "value": "={{ $json[\"timestamp\"] }}"
              }
            ]
          }
        }
      },
      {
        "id": "4",
        "name": "Check Valid Phone",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [800, 300],
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json[\"formattedPhone\"].length }}",
                "operation": "gte",
                "value2": 10
              }
            ]
          }
        }
      },
      {
        "id": "5",
        "name": "Trigger VAPI Outbound Call",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [1000, 200],
        "parameters": {
          "url": "https://api.vapi.ai/call",
          "method": "POST",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "jsonParameters": true,
          "options": {
            "allowUnauthorizedCerts": false,
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          },
          "bodyParametersJson": "={ \"phone\": \"{{$json[\"formattedPhone\"]}}\", \"message\": \"Hello {{$json[\"formattedName\"]}}, thank you for your interest. We will contact you shortly.\", \"leadId\": \"{{$json[\"leadId\"]}}\", \"source\": \"{{$json[\"source\"]}}\" }"
        }
      },
      {
        "id": "6",
        "name": "Log Call Attempt",
        "type": "n8n-nodes-base.spreadsheetFile",
        "typeVersion": 1,
        "position": [1200, 200],
        "parameters": {
          "options": {
            "fileName": "call_logs.csv",
            "writeMode": "append"
          },
          "fileFormat": "csv"
        }
      },
      {
        "id": "7",
        "name": "VAPI Inbound Call Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [200, 500],
        "parameters": {
          "path": "vapi-inbound-call",
          "method": "POST",
          "responseMode": "onReceived",
          "responseData": "firstEntryJson"
        }
      },
      {
        "id": "8",
        "name": "Parse Inbound Call Data",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [400, 500],
        "parameters": {
          "functionCode": "// Ensure we have valid data\nif (!items || !items.length || !items[0].json) {\n  return [{json: {error: 'Invalid input data'}}];\n}\n\nconst callData = items[0].json;\n\n// Input validation and formatting\nconst callerId = callData.callerId || 'Unknown';\nconst formattedCallerId = callerId.replace(/[^0-9]/g, '');\nconst timestamp = callData.timestamp || new Date().toISOString();\nconst duration = callData.duration || 0;\nconst callStatus = callData.status || 'unknown';\n\nreturn [{ \n  json: { \n    callerId: formattedCallerId, \n    timestamp,\n    duration,\n    callStatus,\n    callId: `call-${Date.now()}-${Math.floor(Math.random() * 1000)}`\n  } \n}];"
        }
      },
      {
        "id": "9",
        "name": "Find Contact in CRM",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [600, 500],
        "parameters": {
          "url": "=https://api.yourcrm.com/contacts?phone={{$json[\"callerId\"]}}",
          "method": "GET",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth"
        }
      },
      {
        "id": "10",
        "name": "Lead Form Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [200, 800],
        "parameters": {
          "path": "lead-form-submission",
          "method": "POST",
          "responseMode": "onReceived",
          "responseData": "firstEntryJson"
        }
      },
      {
        "id": "11",
        "name": "Parse Form Data",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [400, 800],
        "parameters": {
          "functionCode": "// Ensure we have valid data\nif (!items || !items.length || !items[0].json) {\n  return [{json: {error: 'Invalid input data'}}];\n}\n\nconst formData = items[0].json;\n\n// Input validation and sanitization\nconst name = (formData.name || '').trim() || 'Unknown';\nconst phone = (formData.phone || '').replace(/[^0-9]/g, '');\nconst email = ((formData.email || '').trim()).toLowerCase();\nconst source = formData.source || 'Web Form';\nconst message = formData.message || '';\nconst timestamp = new Date().toISOString();\n\nreturn [{ \n  json: { \n    name, \n    phone, \n    email,\n    source,\n    message,\n    timestamp,\n    leadId: `form-${Date.now()}-${Math.floor(Math.random() * 1000)}`\n  } \n}];"
        }
      },
      {
        "id": "12",
        "name": "De-duplicate Check",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [600, 800],
        "parameters": {
          "url": "=https://api.yourcrm.com/contacts?email={{$json[\"email\"]}}",
          "method": "GET",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth"
        }
      },
      {
        "id": "13",
        "name": "Is New Lead?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [800, 800],
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.body ? JSON.parse($json.body).totalItems : 0 }}",
                "operation": "equal",
                "value2": "0"
              }
            ]
          }
        }
      },
      {
        "id": "14",
        "name": "Send SMS to New Lead",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [1000, 700],
        "parameters": {
          "url": "https://api.make.com/send-sms",
          "method": "POST",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "jsonParameters": true,
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          },
          "bodyParametersJson": "={ \"phone\": \"{{$json[\"phone\"]}}\", \"message\": \"Hello {{$json[\"name\"].split(' ')[0]}}, thank you for filling out our form. We will be in touch soon. Your reference ID is {{$json[\"leadId\"]}}\" }"
        }
      },
      {
        "id": "15",
        "name": "Send Email to New Lead",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [1000, 900],
        "parameters": {
          "url": "https://api.make.com/send-email",
          "method": "POST",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "jsonParameters": true,
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          },
          "bodyParametersJson": "={ \"to\": \"{{$json[\"email\"]}}\", \"subject\": \"Thank You for Your Submission\", \"body\": \"Dear {{$json[\"name\"]}},\\n\\nThank you for reaching out to us. Your inquiry (ID: {{$json[\"leadId\"]}}) has been received and we will get back to you shortly.\\n\\nIn the meantime, you can learn more about our services at our website.\\n\\nBest regards,\\nYour Company\" }"
        }
      },
      {
        "id": "16",
        "name": "Save to Database",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 1,
        "position": [1200, 800],
        "parameters": {
          "operation": "insert",
          "table": "leads",
          "columns": "name, email, phone, source, timestamp, lead_id",
          "values": "={{ $json[\"name\"] }}, {{ $json[\"email\"] }}, {{ $json[\"phone\"] }}, {{ $json[\"source\"] }}, {{ $json[\"timestamp\"] }}, {{ $json[\"leadId\"] }}"
        },
        "credentials": {
          "postgres": "postgres_credentials"
        }
      },
      {
        "id": "17",
        "name": "Update Existing Lead",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [1000, 1000],
        "parameters": {
          "url": "=https://api.yourcrm.com/contacts/{{$json.body ? JSON.parse($json.body).items[0].id : 'unknown'}}",
          "method": "PATCH",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "jsonParameters": true,
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          },
          "bodyParametersJson": "={ \"lastContact\": \"{{$json[\"timestamp\"]}}\", \"lastSource\": \"{{$json[\"source\"]}}\", \"message\": \"{{$json[\"message\"]}}\" }"
        }
      },
      {
        "id": "18",
        "name": "Error Handler",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [1200, 500],
        "parameters": {
          "functionCode": "// Get error information\nconst error = items[0].json.error || 'Unknown error';\nconst timestamp = new Date().toISOString();\nconst nodeId = $node.id;\nconst workflowId = $workflow.id;\n\n// Log error\nconsole.error(`Error in node ${nodeId} at ${timestamp}: ${error}`);\n\n// Format error for notification\nreturn [{\n  json: {\n    error,\n    timestamp,\n    nodeId,\n    workflowId,\n    message: `Workflow error: ${error} at ${timestamp}`\n  }\n}];"
        }
      },
      {
        "id": "19",
        "name": "Send Error Notification",
        "type": "n8n-nodes-base.sendEmail",
        "typeVersion": 1,
        "position": [1400, 500],
        "parameters": {
          "toEmail": "admin@yourcompany.com",
          "subject": "=Workflow Error - {{ $json.nodeId }}",
          "text": "=Error details:\n\nTimestamp: {{ $json.timestamp }}\nNode ID: {{ $json.nodeId }}\nWorkflow ID: {{ $json.workflowId }}\nError: {{ $json.error }}"
        },
        "credentials": {
          "smtp": "smtp_credentials"
        }
      },
      {
        "id": "20",
        "name": "Slack Alert for High-Value Leads",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [1400, 800],
        "parameters": {
          "channel": "new-leads",
          "text": "=New Lead Alert!\nName: {{ $json.name }}\nEmail: {{ $json.email }}\nPhone: {{ $json.phone }}\nSource: {{ $json.source }}\nTimestamp: {{ $json.timestamp }}"
        },
        "credentials": {
          "slackApi": "slack_credentials"
        }
      }
    ],
    "connections": {
      "GoHighLevel Webhook": {
        "main": [
          [
            {
              "node": "Parse GoHighLevel Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse GoHighLevel Data": {
        "main": [
          [
            {
              "node": "Format Lead Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Lead Data": {
        "main": [
          [
            {
              "node": "Check Valid Phone",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Valid Phone": {
        "main": [
          [
            {
              "node": "Trigger VAPI Outbound Call",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error Handler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Trigger VAPI Outbound Call": {
        "main": [
          [
            {
              "node": "Log Call Attempt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "VAPI Inbound Call Webhook": {
        "main": [
          [
            {
              "node": "Parse Inbound Call Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Inbound Call Data": {
        "main": [
          [
            {
              "node": "Find Contact in CRM",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find Contact in CRM": {
        "main": [
          [
            {
              "node": "Error Handler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lead Form Webhook": {
        "main": [
          [
            {
              "node": "Parse Form Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Form Data": {
        "main": [
          [
            {
              "node": "De-duplicate Check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "De-duplicate Check": {
        "main": [
          [
            {
              "node": "Is New Lead?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is New Lead?": {
        "main": [
          [
            {
              "node": "Send SMS to New Lead",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send Email to New Lead",
              "type": "main",
              "index": 0
            },
            {
              "node": "Save to Database",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Update Existing Lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send SMS to New Lead": {
        "main": [
          [
            {
              "node": "Slack Alert for High-Value Leads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Email to New Lead": {
        "main": [
          [
            {
              "node": "Error Handler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Error Handler": {
        "main": [
          [
            {
              "node": "Send Error Notification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }



